.tickets {
    display: flex;
    flex-direction: column;
    gap: var(--primary-gap);
    width: 100%;

    &__no-tickets {
        margin-top: 5vh;
        font-size: clamp(1rem, 0.4466rem + 1.9417vw, 2rem);
    }
}