#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    box-sizing: border-box;
  }

* {
  --primary-gap: 20px;
  --border: 1px solid black;
  --primary-padding: 12px;
}